.DS_Store
.idea/
.vscode/
*.iml
*.swp
*~

.metadata/
.mule/
.tooling/
.tooling-apps-cache/
.tooling_apps_cache/

target/
**/target/
**/.mule/

.classpath
.project
.settings/
**/.classpath
**/.project
**/.settings/

*.log
**/*.log
logs/
**/logs/
